.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
 
.footer2{
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background-color:brown;
  color: #000F16;
  padding: 10px 10px 0px 30px;
}
 
.center-align {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text-white {
    color: #fff!important;
}
.form-group input[type=text]:hover, input[type=password]:hover{
 border: 1px solid red;
  border-top: 1px solid red;
}

.content{
	background: #fff;
}

.hideContent {
    overflow: hidden;
    line-height: 4em;
    height: 25em;
}
  a:hover{
	text-decoration: none;
	color: red;
} 