 
.display-3{
    color:white;
    font-family:"comic sans MS", cursive, sans-serif
  }  
  .jumbotron {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../images/mexican-salad-2.jpg");
    background-size: cover;
    height: 100%;
    width:100%;
    color: white;
    text-align: center;
}
.my-2 {
    margin-top: .5rem!important;
    margin-bottom: .5rem!important;
    margin-left: -1rem!important;
}
a:hover{
	text-decoration: none;
	color: #660000;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
   
.input-group input[type=text]{
    background: transparent;
    -webkit-text-fill-color: white;
}
.input-group input[type=text], input[type=password]:hover, input[type=btn]:hover {
    border: 1px solid white;
    border-top: 1px solid white;
      /* background-color #660000;  */
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  
 nav.navbar {
    /* background: transparent; */
    border: 0;
    overflow: hidden;
    background-color:#cc0000;
    /* position: fixed; Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
} 

 
.navbar-brand{
    color:white!important;
    font-family:"comic sans MS", cursive, sans-serif;
}
.form-inline a{
    color:white;
}
 .btn{
     background-color:#cc0000;
     color:white;
 }
 .footer2{
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    background-color: #cc0000;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align:center;
  }
  .card{
    margin-top:50px;
    margin-right:20px;
    margin-bottom:50px;
    margin-left:20px
  }
  .row{
     margin-right:0px!important;
    /* margin-left:10px; */
  } 