.lead{
	text-align: center;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
.form1{
  color: #F0EFF3;
}
.display-3{
  color:brown;
  /* text-shadow: 2px 2px; */
  font-family:"comic sans MS", cursive, sans-serif
} 

.bg-color {
    background-color:brown;
}

.spacing{
  padding-top: 20px;
}

.text-white {
    color: #fff!important;
}
.content{
	background: #fff;
}
  a:hover{
	text-decoration: none;
	color: red;
} 
 
.container{  
  width:100%;
}

.center{
  margin: auto;
} 
     /* input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:none !important;
    }
     text.transparent-input{
       background-color:transparent !important;
       border:none !important;
    }  */


     

  