.lead{
	text-align: center;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
/* 
.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #559ABC;
  color: #000F16;
  padding: 10px 10px 0px 30px;
} */
/* .bg-img{
background-image: url("../images/chicken_wine_dishes_70992_1920x1080.jpg");
} */

.form1{
  color: #F0EFF3;
}
/* 
#h1 display{
text-align: center;
font-family:"comic sans MS", cursive, sans-serif
} */

.display-3{
  color:brown;
  /* text-shadow: 2px 2px; */
  font-family:"comic sans MS", cursive, sans-serif
} 

.bg-color {
    background-color:brown;
}

.spacing{
  padding-top: 20px;
}

 
.center-align {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.text-white {
    color: #fff!important;
}
.content{
	background: #fff;
}
/* .read-more {
  border: 1px solid #000;
  padding: 15px;
  margin-bottom: 20px;
}

.read-more-link, .show-less-link{
    text-decoration: none;
    font-weight: bolder;
    color: red;
} */

 a:hover{
	text-decoration: none;
	color: red;
}

.position{
  padding: 10px 10px 10px 10px;
  margin: auto;
  padding: 10px;
   border: 3px solid red;
}
/* 
.loginform{
 padding-top: 20px;
} */
.container{  
  width:100%;
}

.center{
  margin: auto;
} 
    input.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       border:none !important;
    }
     text.transparent-input{
       background-color:transparent !important;
       border:none !important;
    }


     

  