<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/recipeCatalog.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
        <button class="navbar-toggler navbar-toggler-right"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" ></span>
        </button>
             <!-- <a class="navbar-brand" href="recipeCatalog.html"><img src="images/moreRecipeLogo.jpg"></a> -->
             <a class="navbar-brand" href="index.html" >More-Recipes</a>
             
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <a class="nav-link text" href="profilePage.html">profile</span></a>
              <a class="nav-link text" href="manageMyrecipes.html">manage recipe</span></a>
              <!-- <a class="nav-link text" href="signin.html">sign in</span></a> -->
              
              
              
           </ul>
          <form class="form-inline my-2 my-lg-0">
              <a class="nav-link text" href="signin.html">sign in</span></a>
           </form>
          <form class="form-inline my-2 my-lg-0">
               <a class="nav-link text" href="signup.html">sign up</span></a>
             </form>
             <form class="form-inline my-2 my-lg-0">
                <a class="nav-link text" href="index.html">log out</span></a>
              </form>
        </div>
      </nav>
</div>
 		<!-- <a class="navbar-brand" href="index.html"><img src="images/moreRecipeLogo.jpg"></a> -->
 

      <!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
					<a class="navbar-brand" href="recipeCatalog.html"><img src="images/moreRecipeLogo.jpg"></a>
        </li>
     </ul>
     <ul>
      <a class="btn btn-danger" href="index.html" role="button">Log out</a>
    </ul>
      </div>       
</nav> -->

<div class="container">
  <div class="form-actions">
    <h1>Edit Profile</h1>
    </div>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="images/profileGlyph.jpg" class="img-rounded" alt="chefchef">
          <h6>Upload a different photo...</h6>
          <input type="file" class="form-control">
        </div>
      </div>
  
       <div class="col-md-9 personal-info">
        <h3>Personal info</h3> 
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" placeholder="Steven">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" placeholder="Douglas">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" placeholder="steve's kitchen.ng">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">birthday:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" placeholder="02/03/1990">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" placeholder="steve@stevenskitchen.com">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="" placeholder="chefsteve">
            </div>
          </div>
          <br><br>
          <!-- <div class = "form-actions"> -->
            <h3>change password</h3>
          <!-- </div> -->
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="" placeholder="************">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="" placeholder="************">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
            <a class="btn btn-danger" href="profilePage.html" role="button"> save changes</a>
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
<div>
  <br><br>
       
  <footer class="bg-color footer2">
    <div class="col  ">
<p><div class ="author float-left">Designed by: Douglas &nbsp;&nbsp; © 2017</div>
<a href="https://github.com/ddouglasz/moreRecipes "><i class="fa fa-github float-right text-white "  aria-hidden="true"><strong>&nbsp;github</strong></i></a>
</div></button></p>
  </div>
</footer>
			

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/designs.js"></script>
</body>
</html>