	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="css/index2.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
							
 								<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
										<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
											<span class="navbar-toggler-icon"></span>
										</button>
 												<!-- <a class="navbar-brand" href="recipeCatalog.html"><img src="images/moreRecipeLogo.jpg"></a> -->
 												<a class="navbar-brand" href="recipeCatalog.html" >More-Recipes</a>
												 
												 <div class="collapse navbar-collapse" id="navbarSupportedContent">
											<ul class="navbar-nav mr-auto">
 											</ul>
											<form class="form-inline my-2 my-lg-0">
  												<a class="nav-link text" href="signin.html">sign in</span></a>
 											</form>
											<form class="form-inline my-2 my-lg-0">
 													<a class="nav-link text" href="signup.html">sign up</span></a>
 												</form>
										</div>
									</nav>
						<div class="jumbotron jumbotron-fluid  home-wrapper">	
					<div class="container">
  			<h1 class="display-3">Welcome To More-Recipes</h1>
			<p class="lead"><i>It's okay to salivate...</i></p>
		</div>
 	    <div class="row">
	    	<div class="col-md-4">
	    	</div>
	    	<div class="col-md-4">
	    		<form>
	    			<div class= "input-group">
 	    				<input type="text" class="form-control" placeholder="Enter search input" aria-label="">
	    				<span class="input-group-btn">
			        		<button class="btn " href="index.html"><strong>Search</strong></button>
			    		</span>
					</div>
 				</form>
			</div>
		</div>
	</div>
	<section id="top-recipes">
		<div>
			<div class= "form-actions">
			<h3 class="center-align">Popular Recipes</h3>
			<div>
		</div>
  <div class="card-deck">
  <div class="card">
 	    <img class="img-fluid" src="images/4LayeredSalad.jpg" alt="Card image cap" width="400" height="300">
          <div class="card-block">
            <h4 class="card-title">vegetable soup</h4>
 			 <a   class="btn btn-outline-danger" href="recipeCatalog.html"><strong>EXPLORE</strong></a>
 		   <p class="card-text"><small class="text-muted">Last updated 4 mins ago</small></p>
			<a href="ProfilePage.html" role="button"><strong><h6>@mr_shrek</h6></strong></a>
	      <div class="card-footer">
 		 <p><a class="btn-floating"> 
			<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
            <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i>198
			<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
	</div>
    </div>
  </div>

  <div class="card">
 	<img class="img-fluid" src="images/lasagna.jpg" alt="Card image cap" width="400" height="300">
 <div class="card-block">
		<h4 class="card-title">lasagna</h4>
 		<a   class="btn btn-outline-danger" href="recipeCatalog.html"><strong>EXPLORE</strong></a> 
		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			<a href="ProfilePage.html" role="button"><strong><h6>@chefsteve</h6></strong></a>  
    <div class="card-footer">
 		<p><a class="btn-floating">
         <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
        <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>198</strong>
		<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
			</p>
	</div>
   </div>
  </div>

  <div class="card">
 		<img class="img-fluid" src="images/lasagna.jpg" alt="Card image cap" width="400" height="300">
    <div class="card-block">
      <h4 class="card-title">French pie</h4>
 	   <a class="btn btn-outline-danger" href="recipeCatalog.html"><strong>EXPLORE</strong></a> 
	  <p class="card-text"><small class="text-muted">Last updated 35 mins ago</small></p>
		<a href="ProfilePage.html" role="button"><strong><h6>@chefsteve</h6></strong></a> 
	  <div class="card-footer">
 		<p><a class="btn-floating">
 		   
         <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
        <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>198</strong>
				<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
			</p>
	  </div>
    </div>
  </div>
</div> 


				                 <!--footer  -->
	          <hr> 
         <footer class="bg-color footer2">
            <!-- <div class="container"> -->
                <!-- <div class="row"> -->
                  <div class="col  ">
											<p><div class ="author float-left">Designed by: Douglas &nbsp;&nbsp; © 2017</div>
 													 <a href="https://github.com/ddouglasz/moreRecipes "><i class="fa fa-github float-right text-white "  aria-hidden="true"></i></a>
													</div></button></p>
											
                    <!-- </div> -->
                  <!-- </div> -->
                </div>
			</footer>
			

 
<!-- the modal for login -->
	        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
				  <form>
							<nav class="navbar navbar-inverse bg-danger">
	<div class="form-actions"> 
		 <h4>Login to Your Account</h4> 
		 <!-- <h4 class="display-3">Welcome To More-Recipes</h4>   -->
		</div>
</nav>
	<br>
	<br>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<!-- <input type="submit" name="login" class="login loginmodal-submit" value="Login"> -->
					<a class="btn btn-danger btn-block" href="authenticatedUserPage.html" role="button"><strong>submit<strong></a>
                    
				  </form>
					
				  <div class="login-help text-center test-danger">
					 <!-- <a href="#">Forgot Password</a> -->
					<a href="#" data-toggle="modal"  data-target="#forgot-modal">forgot password?</a> 

				  </div>
				</div>
				</div>
			</div>


         <!--the forgot password modal  -->
	      <div class="modal fade" id="forgot-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
				  <form>
							<nav class="navbar navbar-inverse bg-danger">
	<div class="form-actions">
		<h4>enter recovery email</h4>
		</div>
</nav>
	<br>
	<br>
				  <form>
					<input type="email" name="user" placeholder="recoveryemail@email.com">
     				 <button type="submit" class="btn btn-danger btn-block" href="#" data-toggle="modal" data-target="#signUp-modal"><strong>submit<strong></a></button> 
				  </form>
				</div>
				</div>
			</div>

		  <!--the modal for signUp  -->
	         <div class="modal fade" id="signUp-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
				  <form>
							<nav class="navbar navbar-inverse bg-danger">
	<div class="form-actions">
		<h4>Signup Here</h4>
		</div>
</nav>
	<br>
	<br>
				  <form>
					<input type="text" name="user" placeholder="Username">
					<input type="email" name="user" placeholder="email">
					<input type="number" name="user" placeholder="phone number">
					<input type="password" name="pass" placeholder="Password">
					<input type="password" name="pass" placeholder="confirm password">
					<!-- <input type="submit" name="login" class="login loginmodal-submit" value="Login"> -->
					<!-- <ul> -->
					<a class="btn btn-danger btn-block" href="authenticatedUserPage.html" role="button"><strong>submit<strong></a>
                      <!-- </ul> -->
					</div>
				</div>
			</div>

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	    <script type="text/javascript" src="js/designs.js"></script>

	  	
	</body>
</html> 
