<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/designs.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg p-1">
      <a class="btn btn-danger" href="HomePage.html" role="button">Home</a>
      <a class="btn btn-danger" href="recipeCatalog.html" role="button">  catalog </a>
      <a class="btn btn-danger" href="authenticatedUserPage.html" role="button">my profile</a>
      <a class="btn btn-danger" href="HomePage.html" role="button"> Log out</a>
      
     </div>
  </div>
  <nav class="navbar navbar-inverse bg-outline-danger">
    <button class="navbar-toggler" type="button " data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""> <a class="navbar-brand" href="HomePage.html"><img src="images/moreRecipeLogo.jpg"></a>
</span>
    </button>
  </nav>
</div>


  <!-- <body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="recipeCatalog.html"><img src="images/moreRecipeLogo.jpg"></a>
        </li>
        </ul>
           <ul>
      <a class="btn btn-danger" href="HomePage.html" role="button">Log out</a>
    </ul>

      </div>
  </nav> -->
  
      <div class="form-actions">
          <p><h1>Manage recipes</h1></p>
          <h5>View favorites,modify and add new Recipes</h5>
      </div><hr>
          
          <div class= "col-addrecipe">
         <!-- <button type="button" class="btn btn-danger ">Get Started with the Recipe Catalog</button><br><br> -->
                    <!-- <button type="button" class="btn btn-danger  ">My Favorite Recipe</button><br><br> -->

        

    <div class="form-actions">
       <h3>My Recipes</h3>
    </div><br>
 <div class="card-deck">
  <div class="card">
	<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	    <img class="img-fluid" src="images/vegetablesoup.jpg" alt="Card image cap" width="537.5">
          <div class="card-block">
            <h4 class="card-title">Nigerian Recipes</h4>
           <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <a href="#" class="btn btn-outline-danger"><strong>add to favorite</strong></a>
             <a href="#" class="btn btn-outline-danger"><strong>modify</strong></a>
	     	 <a href="#" class="btn btn-outline-danger"><strong>delete</strong></a>

	       <p class="card-text"><small class="text-muted">Last updated 4 mins ago</small></p>
	      <div class="card-footer">
 		 <p><a class="btn-floating">
              <!-- <i class="fa fa-signing fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong> -->
                <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>198</strong>
				<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
	</div>
    </div>
  </div>

  <div class="card">
	<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	  <img class="img-fluid" src="images/lasagna.jpg" alt="Card image cap" width="537.5">
 <div class="card-block">
		<h4 class="card-title">Italian Recipes</h4>
		<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-danger"><strong>add to favorite</strong></a> 
        <a href="#" class="btn btn-outline-danger"><strong>modify</strong></a>
	    <a href="#" class="btn btn-outline-danger"><strong>delete</strong></a>

		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <div class="card-footer">
 		<p><a class="btn-floating">
                <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>198</strong>
				<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
			</p>
	</div>
   </div>
  </div>

  <div class="card">
	<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
		<img class="img-fluid" src="images/frenchMeal4.jpg" alt="Card image cap" width="537.5">
    <div class="card-block">
      <h4 class="card-title">French Recipes</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
             <a href="#" class="btn btn-outline-danger"><strong>add to favorite</strong></a>
             <a href="#" class="btn btn-outline-danger"><strong>modify</strong></a>
	     	 <a href="#" class="btn btn-outline-danger"><strong>delete</strong></a>

	  <p class="card-text"><small class="text-muted">Last updated 35 mins ago</small></p>
	  <div class="card-footer">
 		<p><a class="btn-floating">
                <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>198</strong>
				<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
			</p>
	  </div>
    </div>
  </div>
</div> 


 	<div class="form-actions">
       <h3>My favorite Recipes</h3>
   </div><br>

 <div class="card-deck">
  <div class="card">
	<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	    <img class="img-fluid" src="images/vegetablesoup.jpg" alt="Card image cap" width="537.5">
          <div class="card-block">
            <h4 class="card-title">Nigerian Recipes</h4>
           <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	     	<a href="#" class="btn btn-outline-danger"><strong>remove from favorite</strong></a>
	       <p class="card-text"><small class="text-muted">Last updated 4 mins ago</small></p>
	      <div class="card-footer">
 		 <p><a class="btn-floating">
                <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>198</strong>
				<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
	</div>
    </div>
  </div>

  <div class="card">
	<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	  <img class="img-fluid" src="images/lasagna.jpg" alt="Card image cap" width="537.5">
 <div class="card-block">
		<h4 class="card-title">Italian Recipes</h4>
		<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		<a href="#" class="btn btn-outline-danger"><strong>remove from favorite</strong></a> 
		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <div class="card-footer">
 		<p><a class="btn-floating">
                <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>198</strong>
				<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
			</p>
	</div>
   </div>
  </div>

  <div class="card">
	<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
		<img class="img-fluid" src="images/frenchMeal4.jpg" alt="Card image cap" width="537.5">
    <div class="card-block">
      <h4 class="card-title">French Recipes</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	 		     <a href="#" class="btn btn-outline-danger"><strong>remove from favorite</strong></a>
	  <p class="card-text"><small class="text-muted">Last updated 35 mins ago</small></p>
	  <div class="card-footer">
 		<p><a class="btn-floating">
                <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
                <i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>198</strong>
				<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>156</strong></a></p>
			</p>
	  </div>
    </div>
  </div>
</div> 

 <div class="form-actions">
       <h3>Add a new recipe</h3>
</div>

<!--............................  -->
	<!-- </button><p> -->
				
				<div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control form-control-lg" id="lgFormGroupInput">
      </div>
    </div>
      <div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Ingredients</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Directions</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>	
  <!-- <button type="submit" class="btn btn-danger ">Save new recipe</button><br><br> --> 
<div class="form-actions">
    <!-- <button type="submit" class="btn btn-danger">Confirm</button> -->
      <button type="submit" class="btn btn-danger ">Save new recipe</button><br><br>
</div>
			</form>
     	</div>
	   </div>
      </div>
      </div>
    </div>
    </div>
    </div>
    </div>
  </div>


      <footer class="bg-color footer1">
        <div class="container">
            <div class="row">
              <div class="col text-center text-white">
                  <p>Designed by: Douglas &nbsp;&nbsp;&nbsp; © 2017</p>
                </div>
              </div>
            </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/designs.js"></script>

      
  </body>
</html>
